.body-box {
    padding: 3rem 1rem 0 2rem;
    color: $text-gray;
}
.summary-box {
    border: 1px solid $base-gray-lt;
    @include border-radius(8px);
    height: 100%;
    padding: 20px 24px;
}
.tag {
    font-size: 12px;
    color: #fff;
    background: $bese-green;
    padding: 2px 8px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 16px;
}
.issn-no {
    color: $base-gray-lt-2;
    font-size: 14px;
}
.editor {
    font-size: 14px!important;
    margin-bottom: 16px;
    color: $text-gray;
    * {
        font-size: 14px!important;
    }
}
.summary-content {
    display: flex;
    position: relative;
    height: calc(100% - 158px);
    .text-content {
        width: 80%;
        flex: 0 0 80%;
        font-size: 16px;
    }
    .btn-box {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
.news-box {
    .content {
        svg {
        display: inline-block;
        color: $base-orange;
        margin-right: 4px;
        }
    }
}
.search-box {
    background: $bese-green-lt;
    padding: 1rem;
}
.section-mb {
    margin-bottom: 60px;
}
