@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*,
*:active,
*:focus,
*:hover,
*:link,
*:visited {
  -o-transition: background-color 0.2s linear, border-color 0.1s linear;
  -webkit-transition: background-color 0.2s linear, border-color 0.1s linear;
  -moz-transition: background-color 0.2s linear, border-color 0.1s linear;
  transition: background-color 0.2s linear, border-color 0.1s linear; }

/* ------- 標頭設計(字級,字距,顏色) ------- */
html {
  font-size: 15px; }

body {
  font-family: arial,'Noto Sans TC','微軟正黑體', sans-serif; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.inpage-title {
  font-size: 25px;
  color: #444444; }

.best-btn {
  font-size: 18px;
  color: #fff;
  background: #F47920;
  padding: 14px;
  border-radius: 12px;
  border: 0px solid transparent;
  outline: 0px solid transparent; }
  .best-btn:hover, .best-btn:focus, .best-btn:active {
    outline: 0px solid transparent; }
  .best-btn.gray-btn {
    background: #ACB0B8; }

.car-btn {
  font-size: 25px;
  color: #fff;
  background: #19294A;
  border-radius: 8px;
  padding: 10px 18px;
  border: 0px solid transparent;
  outline: 0px solid transparent;
  margin-bottom: 21px; }
  .car-btn:hover, .car-btn:focus, .car-btn:active {
    outline: 0px solid transparent; }
  .car-btn.can-go {
    background: #F47920; }

.best-lable {
  color: #444444;
  font-size: 16px;
  display: block;
  margin-bottom: 4px; }

.best-input {
  font-size: 20px;
  color: #444444;
  padding: 8px 12px;
  border: 1px solid #D2D6DE;
  outline: 0px solid;
  width: 100%;
  margin-bottom: 20px; }
  .best-input.error {
    background: pink; }

.best-select {
  position: relative;
  margin-bottom: 20px; }
  .best-select select {
    border: 1px solid #D2D6DE;
    outline: 0px solid transparent;
    padding: 8px 12px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    height: 48px;
    color: #fff;
    font-size: 20px;
    background: #fff; }
    .best-select select.error {
      color: pink;
      background: pink; }
  .best-select option {
    color: #444444; }
  .best-select p {
    position: absolute;
    top: 50%;
    left: 12px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #444444;
    font-size: 20px; }
  .best-select::before {
    content: "";
    font-family: "FontAwesome";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-style: normal;
    display: block;
    position: absolute;
    top: 50%;
    right: 12px;
    color: #444444;
    font-size: 20px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2; }

.best-border-bottom-value {
  font-size: 32px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid #D2D6DE; }

.autocomplet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .autocomplet .search-btn {
    border: 1px solid #efeff1;
    color: #333333;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    background: #fff;
    font-size: 14px;
    display: inline-block; }
  .autocomplet input {
    width: 100%;
    display: inline-block; }
  .autocomplet .autocomplet-search-box {
    display: none;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 1px #00000026;
    box-shadow: 0 2px 5px 1px #00000026;
    border-radius: 4px;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 5;
    max-height: 170px;
    overflow-y: auto; }
    .autocomplet .autocomplet-search-box .search-item {
      font-size: 14px;
      padding: 6px 8px;
      width: 100%;
      background: #fff;
      border: 0px solid transparent;
      border-bottom: 1px solid #efeff1;
      cursor: pointer;
      text-align: left;
      display: block; }
      .autocomplet .autocomplet-search-box .search-item:focus, .autocomplet .autocomplet-search-box .search-item:active, .autocomplet .autocomplet-search-box .search-item:hover {
        background: #ecf0f5 !important; }
      .autocomplet .autocomplet-search-box .search-item.focused {
        background: #ecf0f5 !important; }

.body-box {
  padding: 3rem 1rem 0 2rem;
  color: #5F697D; }

.summary-box {
  border: 1px solid #E7E7E8;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  height: 100%;
  padding: 20px 24px; }

.tag {
  font-size: 12px;
  color: #fff;
  background: #728C8D;
  padding: 2px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 16px; }

.issn-no {
  color: #C3C6D1;
  font-size: 14px; }

.editor {
  font-size: 14px !important;
  margin-bottom: 16px;
  color: #5F697D; }
  .editor * {
    font-size: 14px !important; }

.summary-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: calc(100% - 158px); }
  .summary-content .text-content {
    width: 80%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    font-size: 16px; }
  .summary-content .btn-box {
    position: absolute;
    right: 0;
    bottom: 0; }

.news-box .content svg {
  display: inline-block;
  color: #EB5C16;
  margin-right: 4px; }

.search-box {
  background: #D5DAD4;
  padding: 1rem; }

.section-mb {
  margin-bottom: 60px; }

.wrapper {
  overflow: hidden; }

.title-box {
  padding: 40px 24px;
  height: 100vh;
  overflow: hidden;
  background: #F5F5F5;
  position: relative; }
  .title-box > div {
    position: relative;
    z-index: 1; }
  .title-box .logo {
    width: 85px; }
    .title-box .logo a:hover {
      text-decoration: none; }
  .title-box .content {
    width: 100%;
    height: calc(100% - 26px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #002664; }
    .title-box .content i {
      display: block;
      font-size: 300px;
      margin-bottom: 50px; }
    .title-box .content h1 {
      font-size: 40px; }
  .title-box .bg-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 40px 24px;
    z-index: 0; }
    .title-box .bg-logo img {
      height: 100%; }

.input-box {
  padding: 48px 48px 0;
  height: 100vh;
  overflow: auto; }
  .input-box h2 {
    font-size: 16px;
    color: #5E6A71;
    margin-bottom: 34px; }

#driverSigInRes {
  display: none; }

.security-box {
  padding: 21px 0 0 0; }
  .security-box h3 {
    font-size: 20px;
    margin-bottom: 14px; }

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #19294A;
  margin-left: 24px; }
  .legend .color-box {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background: #19294A;
    margin-right: 8px; }
  .legend h4 {
    font-size: 18px; }
  .legend.can-go {
    color: #F47920; }
    .legend.can-go .color-box {
      background: #F47920; }

.border-box {
  border: 1px solid #707070;
  background: #fff;
  border-radius: 12px;
  padding: 24px 21px;
  height: calc(100vh - 162px);
  overflow: auto; }
  .border-box.orange {
    border-color: #F47920; }

.between-list {
  overflow: auto; }
  .between-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 21px;
    margin-bottom: 21px;
    border-bottom: 1px solid #D2D6DE; }
    .between-list li:last-of-type {
      margin-bottom: 0px;
      border-bottom: 0px solid transparent; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media (max-width: 992px) {
  .title-box {
    height: 65px;
    padding: 16px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2; }
    .title-box .logo {
      width: 64px;
      margin-right: 24px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
      flex: 0 0 64px; }
    .title-box .content {
      height: auto;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start; }
      .title-box .content i {
        display: none; }
      .title-box .content h1 {
        font-size: 24px;
        margin-bottom: 0; }
    .title-box .bg-logo {
      display: none; }
  .input-box {
    padding: 24px;
    height: auto;
    margin-top: 65px; } }

@-moz-document url-prefix() {}
