.best-btn {
    font-size: 18px;
    color: #fff;
    background: #F47920;
    padding: 14px;
    border-radius: 12px;
    border: 0px solid transparent;
    outline: 0px solid transparent;
    &:hover, &:focus, &:active {
        outline: 0px solid transparent;
    }
    &.gray-btn {
        background: #ACB0B8;
    }
}
.car-btn {
    font-size: 25px;
    color: #fff;
    background: #19294A;
    border-radius: 8px;
    padding: 10px 18px;
    border: 0px solid transparent;
    outline: 0px solid transparent;
    margin-bottom: 21px;
    &:hover, &:focus, &:active {
        outline: 0px solid transparent;
    }
    &.can-go {
        background: #F47920;
    }
}