.best-lable {
    color: #444444;
    font-size: 16px;
    display: block;
    margin-bottom: 4px;
}
.best-input {
    font-size: 20px;
    color: #444444;
    padding: 8px 12px;
    border: 1px solid #D2D6DE;
    outline: 0px solid;
    width: 100%;
    margin-bottom: 20px;
    &.error {
        background: pink;
    }
}
.best-select {
    position: relative;
    margin-bottom: 20px;
    select {
        border: 1px solid #D2D6DE;
        outline: 0px solid transparent;
        padding: 8px 12px;
        flex: 1;
        width: 100%;
        height: 48px;
        color: #fff;
        font-size: 20px;
        background: #fff;
        &.error {
            color: pink;
            background: pink;
        }
    }
    option {
        color: #444444;
    }
    p {
        position: absolute;
        top: 50%;
        left: 12px;
        @include TF(translateY(-50%));
        color: #444444;
        font-size: 20px;
    }
    &::before {
        @include fa-icon("\f107", $icon);
        display: block;
        position: absolute;
        top: 50%;
        right: 12px;
        color: #444444;
        font-size: 20px;
        @include TF(translateY(-50%));
        z-index: 2;
    }
}
.best-border-bottom-value {
    font-size: 32px;
    padding-bottom: 10px;
    margin-bottom: 16px;
    border-bottom: 1px solid #D2D6DE;
}
.autocomplet {
    position: relative;
    display: flex;
    .search-btn {
        border: 1px solid #efeff1;
        color: #333333;
        border-radius: 4px;
        width: 44px;
        height: 44px;
        background: #fff;
        font-size: 14px;
        display: inline-block;
    }
    input {
        width: 100%;
        display: inline-block;
    }
    .autocomplet-search-box {
        display: none;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 5px 1px #00000026;
        border-radius: 4px;
        position: absolute;
        top: 48px;
        left: 0;
        z-index: 5;
        max-height: 170px;
        overflow-y: auto;
        .search-item {
        font-size: 14px;
        padding: 6px 8px;
        width: 100%;
        background: #fff;
        border: 0px solid transparent;
        border-bottom: 1px solid #efeff1;
        cursor: pointer;
        text-align: left;
        display: block;
        &:focus, &:active, &:hover {
            background: #ecf0f5!important;
        }
        &.focused {
            background: #ecf0f5!important;
        }
        }
    }
}