.wrapper {
    overflow: hidden;
}
.title-box {
    padding: 40px 24px;
    height: 100vh;
    overflow: hidden;
    background: #F5F5F5;
    position: relative;
    >div {
        position: relative; 
        z-index: 1;
    }
    .logo {
        width: 85px;
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    .content {
        width: 100%;
        height: calc(100% - 26px);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #002664;
        i {
            display: block;
            font-size: 300px;
            margin-bottom: 50px;
        }
        h1 {
            font-size: 40px;
        }
    }
    .bg-logo {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 40px 24px;
        z-index: 0;
        img {
            height: 100%;
        }
    }
}
.input-box {
    padding: 48px 48px 0;
    height: 100vh;
    overflow: auto;
    h2 {
        font-size: 16px;
        color: #5E6A71;
        margin-bottom: 34px;
    }
}
#driverSigInRes {
    display: none;
}
.security-box {
    padding: 21px 0 0 0;
    h3 {
        font-size: 20px;
        margin-bottom: 14px;
    }
}
.legend {
    display: flex;
    align-items: center;
    color: #19294A;
    margin-left: 24px;
    .color-box {
        width: 24px;
        height: 24px;
        border-radius: 8px;
        background: #19294A;
        margin-right: 8px;
    }
    h4 {
        font-size: 18px;
    }
    &.can-go {
        color: #F47920;
        .color-box {
            background: #F47920;
        }
    }
}
.border-box {
    border: 1px solid #707070;
    background: #fff;
    border-radius: 12px;
    padding: 24px 21px;
    height: calc(100vh - 162px);
    overflow: auto;
    &.orange {
        border-color: #F47920;
    }
}
.between-list {
    overflow: auto;
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 21px;
        margin-bottom: 21px;
        border-bottom: 1px solid #D2D6DE;
        &:last-of-type {
            margin-bottom: 0px;
            border-bottom: 0px solid transparent;
        }
    }
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
@media (max-width:992px) {
    .title-box {
        height: 65px;
        padding: 16px 24px;
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 2;
        .logo {
            width: 64px;
            margin-right: 24px;
            flex: 0 0 64px;
        }
        .content {
            height: auto;
            justify-content: start;
            i {
                display: none;
            }
            h1 {
                font-size: 24px;
                margin-bottom: 0;
            }
        }
        .bg-logo {
            display: none;
        }
    }
    .input-box {
        padding: 24px;
        height: auto;
        margin-top: 65px;
    }
}

@media (max-width:768px) {}

@media (max-width:575px) {}